body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  color: #000;
}

a {
  text-decoration: none;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.main-header {
  width: 100%;
  min-height: 110px;
  background-color: #eeeeee;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-navigation a {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  color: #332525;
}

.menu-logo {
  padding-top: 45px;
  padding-left: -40px;
}
.menu-logo:hover svg path {
  fill: #303030;
}
.menu-logo:active svg path {
  fill: #a6a6a6;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  min-width: 440px;
  padding-top: 59px;
  padding-right: 80px;
  list-style: none;
}
.site-navigation a:hover,
.basket a:hover {
  color: #fb565a;
}
.site-navigation a:active,
.basket a:active {
  color: #a6a6a6;
}

.basket {
  position: relative;
  padding-top: 59px;
  list-style: none;
}

.basket::before {
  position: absolute;
  content: "";
  display: table;
  width: 16px;
  height: 16px;
  left: -1px;
  background-image: url("../img/cart-icon.svg");
}

.slider-header {
  background: #eeeeee;
}

.slider {
  position: relative;
  width: 100%;
  min-height: 440px;
}

.slider input[type=radio] {
  position: absolute;
  opacity: 0;
}

.slider-controls {
  position: absolute;
  bottom: 120px;
  left: 50%;
  width: 200px;
  height: 10px;
  margin-left: -100px;
  text-align: center;
  z-index: 10;
}

.slider-controls label {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  background: white;
  border: 3px solid white;
  vertical-align: top;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked~.slider-controls label[for="btn-1"], #btn-2:checked~.slider-controls label[for="btn-2"], #btn-3:checked~.slider-controls label[for="btn-3"] {
  background: #c1c1c1;
}

.slide {
  position: absolute;
  top: 15px;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide-text {
  width: 380px;
  padding: 60px 0 ;
  text-align: left;
  color: #283136;
}
.slide:nth-child(2) .slide-text {
  width: 520px;
}

.slide-title {
  font-size: 55px;
  line-height: 1;
  font-weight: bold;
  color: black;
  margin-bottom: 28px;
}
.slide-text p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 37px;
}
.slide .btn {
  display: block;
  width: 240px;
  padding: 15px 0;
  margin-top: 25px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background: #fb565a;
  border-radius: 3px;
}
.slide .btn:hover {
  background: #e74246;
}
.slide .btn:active {
  color: #e37376;
  background: #d7373b;
}
.slide:nth-child(1) {
  background-image: url("../img/slider 1.png");
  background-repeat: no-repeat;
  background-position: 62% 10%;
}

.slide:nth-child(2) {
  background-image: url("../img/slider 2.png");
  background-repeat: no-repeat;
  background-position: 100% 50%;
}

.slide:nth-child(3) {
  background-image: url("../img/slider 3.png");
  background-repeat: no-repeat;
  background-position: 100% 50%;
}
.slide {
  display: none;
}
#btn-1:checked~.slides .slide:nth-child(1) {
  display: block;
}

#btn-2:checked~.slides .slide:nth-child(2) {
  display: block;
}

#btn-3:checked~.slides .slide:nth-child(3) {
  display: block;
}
.visually-hidden {
  position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

.services {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  padding-top: 70px;
  padding-bottom: 80px;
}
.annexes,
.presentations {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding-left: 100px;
  margin-bottom: 10px;
}
.sites {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.services-page {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 1px;
}
.services p {
  display: inline-block;
  width: 245px;
  line-height: 1.5;
  text-align: left;
  margin-top: -8px;
}
.services a {
  display: block;
  width: 160px;
  padding: 15px 0;
  margin-top: 17px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  border-radius: 3px;
}
.sites a {
  background: #fb565a;
}
.sites a:hover {
  background: #e74246;
}
.sites a:active {
  color: #e06366;
  background: #d7373b;
}
.annexes a {
  background: #00ca74;
}
.annexes a:hover {
  background: #00bc6c;
}
.annexes a:active {
  color: #4dc491;
  background: #00aa62;
}
.presentations a {
  background: #efc84a;
}
.presentations a:hover {
  background: #eab534;
}
.presentations a:active {
  color: #ecbe5c;
  background: #e5a722;
}


.about-us-page {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  padding-top: 65px;
  padding-bottom: 55px;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}
.we  {
  width: 660px;
  text-align: left;
}
.we b {
  font-size: 45px;
  font-weight: bold;
  line-height: 1;
}
.we p {
  display: inline-block;
  margin-top: 36px;
  margin-bottom: 40px;
}
.orders {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: ;
  word-spacing: 1px;
}
.we ul {
  margin-top: 27px;
}
.we li {
  margin-bottom: 28px;
  position: relative;
  list-style: none;
}
.we li::before {
  content: "";
  display: table;
  width: 25px;
  height: 2px;
  position: absolute;
  left: -40px;
  background-color: #fb565a;
  top: 50%;
  transform: translateY(-50%);
}
.many-numbers {
  width: 360px;
}
.many-numbers img {
  margin-top: -40px;
}
.rate {
  width: 100%;
  border-spacing: 17px;
  margin-left: -12px;
}
.signature {
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  caption-side: top;
  text-align: center;
}
.rate th {
  font-size: 45px;
  font-weight: bold;
  text-align: left;
}
.percent {
  font-size: 22px;
  vertical-align: top;
}
.pairs {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 80px;
  border-bottom: 2px solid #eeeeee;
}
.pairs img {
    opacity: 0.4;
}
.pairs img:hover {
  opacity: 1;
}
.pairs img:active {
  opacity: 0.2;
}
.map {
  position: relative;
  width: 100%;
  min-height: 420px;
  margin-right:  90px;
  background-image: url("../img/img001.jpg");
}
.map::before {
  position: absolute;
  content: "";
  display: table;
  width: 165px;
  height: 185px;
  right: 320px;
  top: 90px;
  background-image: url("../img/map-marker.png");
}
.adress {
  position: absolute;
  width: 220px;
  min-height: 210px;
  padding: 50px;
  margin-left: 80px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ffffff;
}
.adress b {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 25px;
}
.adress p {
  font-weight: bold;
  color: #858585;
}
.adress a {
  display: block;
  width: 200px;
  padding: 15px 0;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background: #fb565a;
  border-radius: 3px;
}

.adress p a {
  display: inline-block;
  width: 140px;
  color: #999999;
  background: none;
}
.form {
  position: absolute;
  display: none;
  background-color: #ffffff;
  box-shadow: 0 15px 50px 10px #b0b0b0;
}
.form-show {
  display: block;
}
.popup-form {
  left: 180px;
  top: -145px;
  width: 960px;
}
.form h2 {
  display: inline-block;
  margin-top: 50px;
  margin-left: 100px;
  margin-bottom: 35px;
  font-size: 45px;
  font-weight: bold;
}
.form form {
    position: relative;
    width: 760px;
    margin: 0 auto;
}
.equalizer {
  display: flex;
  justify-content: space-between;
  width: 760px;
}
.half-width {
    display: inline-block;
    margin: 0;
}
.half-width input {
     width: 320px;
     margin-bottom: 30px;
     padding: 10px 15px;
     font-size: 16px;
     border: 0;
     outline: 2px solid #d7dcde;
}
.form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.form-page  textarea {
  width: 96%;
  padding: 10px 15px;
  font-size: 17px;
  margin-bottom: 30px;
  border: 0;
  outline: 2px solid #d7dcde;
}
.form-submit {
  display: block;
  width: 260px;
  padding: 15px 0;
  margin-bottom: 75px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background: #fb565a;
  border-radius: 3px;
  border: none;
}
.half-width input:hover,
.form-page textarea:hover {
  outline:  2px solid #b4b9bb;
}
.half-width input::-webkit-input-placeholder ,
.form-page textarea::-webkit-input-placeholder  {
  color: #a1a1a1;
}
.half-width input:focus,
.form-page textarea:focus {
  outline:  2px solid #000000;
}
.half-width input:focus::-webkit-input-placeholder,
.form-page textarea:focus::-webkit-input-placeholder  {
  color: #444444;
}
.half-width input:invalid {
  color: #e74246;
  outline:  2px solid #e74246;
}
.form-button  {
  position: absolute;
  top: -70px;
  right: -15px;
  outline: 0;
  background: none;
  border: none;
}
.form-button:hover svg path {
   fill: #fb565a;
}
.form-button:active svg path {
  fill: #ffeeee;
}
.social {
  display: flex;
  width: 100%;
  min-height: 150px;
  margin-top: 70px;
}
.social-page {
  display: flex;
  justify-content: space-between;
  width: 260px;
  list-style: none;
  margin-left: 50px;
  margin-right: 140px;
}
.networks {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  background: #e1e1e1;
  border-radius: 50%;
}
.networks:hover {
  background: #e74246;
}
.networks:active {
  background: #d7373b;
}
.networks:active path {
   fill: #e37376;
}

.friends b {
  font-size: 36px;
  font-weight: bold;
}
.main-templates {
  display: flex;
  justify-content: space-between;
}
.score {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 105px;
  margin-top: 0;
  font-size: 55px;
  font-weight: bold;
  text-align: center;
  background-color: #eeeeee;
}
.filter form {
    width: 260px;
    margin: 0;
    margin-left: 140px;
  }
.filter fieldset {
    margin-bottom: 15px;
    padding: 10px;
    border: none;
}
.filter legend {
  font-size: 18px;
  font-weight: bold;
}
.range-filter {
  width: 240px;
  margin: 40px auto;
}

.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  background: #f1f1f1;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
  left: 10px;
}

.range-controls .toggle-max {
  left: 145px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  font-size: 16px;
  display: inline-block;
  width: 50%;
}

.max-price {
  text-align: right;
}

.price-controls input {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  width: 60px;
  margin-left: 10px;
  padding: 8px 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}
.filter fieldset:not(first-child) {
  display: flex;
  flex-direction: column;
}
.filter fieldset:not(first-child) label {
  padding-bottom: 25px;
}
.radio input,
.checkbox input {
  display: none;
}
.filter button {
  display: block;
  width: 240px;
  padding: 15px 0;
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  background: #eeeeee;
  border: none;
}
.sorting {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.sorting-filter {
  display: flex;
  justify-content: space-between;
  width: 680px;
}
.ref {
  display: flex;
  justify-content: center;
  width: 270px;
}
.about {
  font-size: 18px;
  font-weight: bold;
}
.align-items {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 45px;
  min-width: 40px;

}
.down::before {
  position: absolute;
  content: "";
  display: table;
  width: 11px;
  height: 10px;
  bottom: 7px;
  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
}
.up::before {
  position: absolute;
  content: "";
  display: table;
  width: 11px;
  height: 10px;
  left: 25px;
  bottom: 7px;
  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
}
.production {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 760px;
}
.sedona,
.pink,
.barbershop,
.mishka,
.plus,
.kvast {
  position: relative;
}

.popup {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 360px;
  min-height: 230px;
  background-color: #eeeeee;
  display: none;
  position: absolute;
  bottom: -35px;
  z-index: 10;
}
.popup h3 {
  margin-top: 30px;
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.popup a {
  display: block;
  width: 200px;
  padding: 15px 0;
  margin-top: 30px;
  margin-bottom: 45px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background: #fb565a;
  border-radius: 3px;
  border: none;
}
.popup p {
  text-align: center;
}
.sedona-page p {
  width: 180px;
}
.pink-page p {
  width: 230px;
}
.barbershop-page p {
  width: 180px;
}
.mishka-page p {
  width: 145px;
}
.plus-page p {
  width: 215px;
}
.kvast-page p {
  width: 210px;
}

.sedona:hover path,
.pink:hover path,
.barbershop:hover path,
.mishka:hover path,
.plus:hover path,
.kvast:hover path {
  fill: #4d4d4d;
}
.sedona:hover .popup,
.pink:hover .popup,
.barbershop:hover .popup,
.mishka:hover .popup,
.plus:hover .popup,
.kvast:hover .popup {
  display: flex;
}
.pagination-page {
  display: flex;
  justify-content: space-between;
  width: 445px;
  min-height: 51px;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: -40px;
  list-style: none;
}

.pagination-page li a {
  display: block;
  width: 51px;
  padding: 15px 0;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #000000;
  background: #eeeeee;
}
.pagination-page li:first-child a {
  display: block;
  width: 48px;
  padding: 13px 0;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  background: #ffffff;
  border: 3px solid #dbdbdb;
}

.pagination-page li:last-child a {
  display: block;
  width: 260px;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  color: #000000;
  background: #eeeeee;
}
