body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  color: #000;
}

a {
  text-decoration: none;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.main-header {
  width: 100%;
  min-height: 110px;
  background-color: #eeeeee;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-navigation a {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  color: #332525;
}

.menu-logo {
  padding-top: 45px;
}
.menu-logo:hover svg path {
  fill: #303030;
}
.menu-logo:active svg path {
  fill: #a6a6a6;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  min-width: 440px;
  padding-top: 75px;
  padding-right: 80px;
  list-style: none;
}
.site-navigation a:hover,
.basket a:hover {
  color: #fb565a;
}
.site-navigation a:active,
.basket a:active {
  color: #a6a6a6;
}
.site-navigation a:,
.basket a: {
  color: #3f3f3f;
  border-bottom: 3px solid #fb565a;
}
.basket {
  position: relative;
  padding-top: 75px;
  list-style: none;
}

.basket::before {
  position: absolute;
  content: "";
  display: table;
  width: 16px;
  height: 16px;
  left: -5px;
  background-image: url("../img/cart-icon.svg");
}
.container {
  width: 1440px;
  margin: 0 auto;
  background-color: #fff;
}
.header {
  background: #eeeeee;
}

.slider {
  position: relative;
  width: 1160px;
  height: 420px;
  margin: 0 140px;

}

.slider input[type=radio] {
  position: absolute;
  opacity: 0;
}

.slider-controls {
  position: absolute;
  bottom: 95px;
  left: 50%;
  width: 200px;
  height: 10px;
  margin-left: -100px;
  text-align: center;
  z-index: 10;
}

.slider-controls label {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 3px;
  background: white;
  border: 3px solid white;
  vertical-align: top;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked~.slider-controls label[for="btn-1"], #btn-2:checked~.slider-controls label[for="btn-2"], #btn-3:checked~.slider-controls label[for="btn-3"] {
  background: #c1c1c1;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide-text {
  width: 380px;
  padding: 70px 0 ;
  text-align: left;
  color: #283136;
}
.slide:nth-child(2) .slide-text {
  width: 520px;
}

.slide-title {
  font-size: 45px;
  line-height: 1;
  font-weight: bold;
  color: black;
}
.slide-text p {
  font-size: 16px;
}
.slide .btn {
  display: block;
  width: 240px;
  padding: 15px 0;
  margin-top: 25px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background: #fb565a;
  border-radius: 3px;
}

.slide:nth-child(1) {
  background-image: url("../img/slider 1.png");
  background-repeat: no-repeat;
  background-position: 100% 90%;
}

.slide:nth-child(2) {
  background-image: url("../img/slider 2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slide:nth-child(3) {
  background-image: url("../img/slider 3.png");
  background-repeat: no-repeat;
  background-position: 100% 90%;
}

.slide {
  display: none;
}

#btn-1:checked~.slides .slide:nth-child(1) {
  display: block;
}

#btn-2:checked~.slides .slide:nth-child(2) {
  display: block;
}

#btn-3:checked~.slides .slide:nth-child(3) {
  display: block;
}
.container {
  width: 1440px;
  margin: 0 auto;
}
.visually-hidden {
  visibility: hidden;
}
.services {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  padding-top: 80px;
  padding-left: 60px;
}
.annexes,
.presentations {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding-left: 100px;
}
.sites {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.services-page {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}
.services p {
  width: 245px;
  text-align: left;
}
.services a {
  display: block;
  width: 160px;
  padding: 15px 0;
  margin-top: 25px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}
.sites a {
  background: #fb565a;
}
.annexes a {
  background: #00ca74;
}
.presentations a {
  background: #efc84a;
}
.about-us {
  margin-top: 80px;
  margin-left: 140px;
}
.about-us-page {
  display: flex;
  width: 1160px;
  padding-top: 80px;
  padding-bottom: 80px;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}
.we  {
  width: 800px;
  margin-right: 140px;
  text-align: left;
}
.we b {
  font-size: 45px;
  font-weight: bold;
}
.we p {
  display: inline-block;
  margin-top: 45px;
  margin-bottom: 45px;
}
.orders {
  font-size: 24px;
  font-weight: bolder;
}
.we ul {
  margin-top: 35px;
}
.we li {
  margin-bottom: 35px;
  position: relative;
  list-style: none;
}
.we li::before {
  content: "";
  display: table;
  width: 24px;
  height: 2px;
  position: absolute;
  left: -33px;
  background-color: #fb565a;
  top: 50%;
  transform: translateY(-50%);
}
.many-numbers {
  width: 360px;
}
.rate {
  width: 100%;
  border-spacing: 25px;
}
.signature {
  padding-top: 35px;
  padding-bottom: 45px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  caption-side: top;
  text-align: center;
}
.rate th {
  font-size: 45px;
  font-weight: bold;
  text-align: left;
}
.percent {
  font-size: 22px;
  vertical-align: top;
}
.pairs {
  display: flex;
  justify-content: space-around;
  width: 1160px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 80px;
  border-bottom: 2px solid #eeeeee;
}
.pairs img {
    opacity: 0.4;
}
.container {
  width: 1440px;
  margin: 0 auto;
}
.map {
  position: relative;
  width: 1440px;
  min-height: 420px;
  margin: 0;
  background-image: url("../img/img001.jpg");
}
.adress {
  width: 220px;
  min-height: 210px;
  padding: 50px;
  margin-left: 140px;
  margin-top: 55px;
  background-color: #ffffff;
}
.adress b {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 25px;
}
.adress p {
  font-weight: bold;
  color: #858585;
}
.adress a {
  display: block;
  width: 200px;
  padding: 15px 0;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background: #fb565a;
  border-radius: 3px;
}
.adress p a {
  display: inline-block;
  width: 140px;
  color: #999999;
  background: none;
}
.form {
  display: none;
  position: absolute;
  width: 960px;
  min-height: 595px;
  left: 240px;
  top: -142px;
  background-color: #ffffff;
  box-shadow: 0 15px 50px 20px #b0b0b0;
}
.form h2 {
  display: inline-block;
  margin-top: 75px;
  margin-left: 100px;
  font-size: 45px;
  font-weight: bold;
}
.form form {
    position: relative;
    width: 760px;
    margin: 0 auto;
}
.half-width {
    display: inline-block;
    margin: 0;
    margin-right: 10px;
}
.half-width:last-child {
    margin-right: 0;
}
.half-width input {
     width: 320px;
     margin-bottom: 40px;
     padding: 15px 15px;
     font-size: 16px;
     border: 2px solid #d7dcde;
}
.form label {
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
}

.form-page  textarea {
  width: 95%;
  padding: 15px 15px;
  font-size: 17px;
  margin-bottom: 50px;
  border: 2px solid #d7dcde;
}
.form-submit {
  display: block;
  width: 260px;
  padding: 15px 0;
  margin-bottom: 75px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background: #fb565a;
  border-radius: 5px;
  border: none;
}
.form-button {
  font-size: 0;
  background: none;
  border: none;
}
.form-button::before {
  position: absolute;
  content: "";
  display: table;
  bottom: 580px;
  left: 730px;
  width: 21px;
  height: 21px;
  margin-top: 50px;
  margin-right: 40px;
  background-image: url("../img/close-cross.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.social {
  display: flex;
  width: 1440px;
  min-height: 150px;
  margin-left: 140px;
  margin-top: 70px;
}
.social-page {
  display: flex;
  justify-content: space-between;
  width: 260px;
  margin-right: 140px;
}
.networks {
  position: relative;
  width: 80px;
  height: 80px;
  background: #e1e1e1;
  border-radius: 50%;
}
.social-vk::before {
  position: absolute;
  content: "";
  display: table;
  width: 26px;
  height: 15px;
  left: 27px;
  top: 30px;
  background-image: url("../img/vk-icon.svg");
  background-repeat: no-repeat;
}
.social-facebook::before {
  position: absolute;
  content: "";
  display: table;
  width: 12px;
  height: 22px;
  left: 33px;
  top: 27px;
  background-image: url("../img/fb-icon.svg");
  background-repeat: no-repeat;
}
.social-instagram::before {
  position: absolute;
  content: "";
  display: table;
  width: 21px;
  height: 21px;
  left: 30px;
  top: 27px;
  background-image: url("../img/insta-icon.svg");
  background-repeat: no-repeat;
}

.friends b {
  font-size: 36px;
  font-weight: bold;
}
.container {
  width: 1440px;
  margin: 0;
  background: #eeeeee;
}
.score {
  padding-top: 80px;
  padding-bottom: 105px;
  margin-top: 0;
  font-size: 55px;
  font-weight: bold;
  text-align: center;
}
.filter form {
    width: 260px;
    margin: 0;
    margin-left: 140px;
  }
.filter fieldset {
    margin-bottom: 15px;
    padding: 10px;
    border: none;
}
.filter legend {
  font-size: 18px;
  font-weight: bold;
}
.range-filter {
  width: 240px;
  margin: 40px auto;
}

.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  background: #f1f1f1;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
  left: 10px;
}

.range-controls .toggle-max {
  left: 145px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  font-size: 16px;
  display: inline-block;
  width: 50%;
}

.max-price {
  text-align: right;
}

.price-controls input {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  width: 60px;
  margin-left: 10px;
  padding: 8px 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}
.filter fieldset:not(first-child) {
  display: flex;
  flex-direction: column;
}
.filter fieldset:not(first-child) label {
  padding-bottom: 25px;
}
.filter button {
  display: block;
  width: 240px;
  padding: 15px 0;
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  background: #eeeeee;
  border: none;
}
















.sedona:hover path {
  fill: #4d4d4d;
}
